@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color:#9f7cf1  ;
  color: white;
  text-align: center;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box{
  text-align:center;
  margin:auto;
}

.box-row{
  display:flex;
  justify-content: center;
}

.btn-c{
  height:120px;
  width:120px;
  font-size: 50px;
  background-color: white;
  border: 1px solid black;
}
.hide{
  display:none;
};

button{
  text-align: center;
  position: relative;
  left: 550px;
  height: 90px;
  width: 200px;
}
.btn1{
  margin-right: 25px;
}
span{
  font-size: x-large;
}